{% extends 'home/base.html' %}
{% block css_custom %}
{% load static %}
{% endblock %}
{% block content %}
<main>

  <section class="py-0 text-center container">
    <div class="row py-lg-0">
      <div class="col-lg-12 col-md-8 mx-auto">
        <h1 class="fw-light">Портфолио</h1>
        <p class="lead text-muted">На этой странице вы найдете альбом моих работ, который будет
        дополняться по мере совершенствования моих навыков.<br>В каждой карточке есть ссылка на репозиторий,
          а также в возможность посмотреть краткое описание и результат. Приятного просмотра!</p>
      </div>
    </div>
  </section>

  <div class="album py-5 my-0 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        {% for card in cards %}
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" src="{{ card.logo.url }}" width="100%" height="225">
            <div class="card-body">
              <h5 class="">{{ card.title|striptags }}</h5>
              <p class="card-text">{{ card.description|striptags|truncatechars:80 }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-sm btn-outline-secondary" href="{% url 'portfolio:detail' card.id %}">Подробнее</a>
                  <a class="btn btn-sm btn-outline-secondary"  target="_blank" href="{{ card.github }}">GitHub</a>
                </div>
                <small class="text-muted">{{ card.date }}</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>

</main>

<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">В начало страницы</a>
    </p>
  </div>
</footer>
{% endblock %}