{% extends 'home/base.html' %}
{% load static %}
{% block css_custom %}
<link href="{% static 'css/modals.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="p-3 mx-3 mb-3 bg-light border rounded-5" align="center">
    <div class="container-fluid py-5">
        <h1 class="featurette-heading" align="center">{{ card.title}}</h1><br>
        <h3 class="featurette-heading" align="center">{{ card.description_head|safe|linebreaksbr }}<br>
            <span class="text-muted">{{ card.description_span|safe|linebreaksbr }}</span></h3><br>
        <p class="lead mx-5" align="left" style="white-space: pre-wrap;">{{ card.description_lead|safe }}</p><br>
        <div class="btn-group">
            <a class="btn btn-outline-secondary btn-lg px-4" href="../">Назад</a>
            {% if card.report != "nothing" %}
            <a class="btn btn-outline-secondary btn-lg px-4" target="_blank" href="{{ card.report.url }}">Отчет</a>
            {% endif %}
            <a class="btn btn-outline-secondary btn-lg px-4" target="_blank" href="{{ card.github }}">GitHub</a>
        </div>
    </div>

    {% if card.res1 != "nothing" %}
    <hr class="featurette-divider">
    <div class="row featurette py-3">
      <div class="col-md-7">
        <h2 class="featurette-heading">{{ card.res1_head }} <span class="text-muted">{{ card.res1_span }}</span></h2>
        <p class="lead" style="white-space: pre-wrap;" align="center">{{ card.res1_lead|safe }}</p>
      </div>
      <div class="col-md-5">
        <img role="button" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
             width="500" height="auto" src="{{ card.res1.url }}" data-bs-toggle="modal" data-bs-target="#res1">
          <div class="modal fade" id="res1" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
             width="auto" height="100%" src="{{ card.res1.url }}">
              </div>
            </div>
          </div>
      </div>
    {% endif %}

    {% if card.res2 != "nothing" %}
    <hr class="featurette-divider">
    <div class="row featurette py-3">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">{{ card.res2_head }} <span class="text-muted">{{ card.res2_span }}</span></h2>
        <p class="lead" style="white-space: pre-wrap;">{{ card.res2_lead|safe }}</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img role="button" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
             width="500" height="auto" src="{{ card.res2.url }}" data-bs-toggle="modal" data-bs-target="#res2">
          <div class="modal fade" id="res2" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
             width="auto" height="100%" src="{{ card.res2.url }}">
              </div>
            </div>
          </div>
      </div>
    {% endif %}

    {% if card.res3 != "nothing" %}
    <hr class="featurette-divider">
    <div class="row featurette py-3">
      <div class="col-md-7">
        <h2 class="featurette-heading">{{ card.res3_head }} <span class="text-muted">{{ card.res3_span }}</span></h2>
        <p class="lead" style="white-space: pre-wrap;">{{ card.res3_lead|safe|linebreaksbr }}</p>
      </div>
      <div class="col-md-5">
          <img role="button" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
             width="500" height="auto" src="{{ card.res3.url }}" data-bs-toggle="modal" data-bs-target="#res3">
          <div class="modal fade" id="res3" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
             width="auto" height="100%" src="{{ card.res3.url }}">
              </div>
            </div>
          </div>
      </div>

    {% endif %}

    {% if card.video != "nothing" %}
    <hr class="featurette-divider">
    <div class="row featurette py-3">
        <div class="col-md-12">
        <h1 class="featurette-heading">{{ card.video_head }} <span class="text-muted">{{ card.video_span }}</span></h1>
        <p class="lead" style="white-space: pre-wrap;">{{ card.video_lead }}</p>
            <video src="{{ card.video.url }}" controls width="80%" height="auto">{{ card.title }}</video>
        </div>
    </div>
    </div>
    {% endif %}
</div>
<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">В начало страницы</a>
    </p>
  </div>
</footer>
{% endblock %}
